.about {
  padding: 94px 0 0;

  &__title {
    font-size: $fontSizeH1;
    color: $white;
    margin-bottom: 24px;
  }

  &__text {
    width: 778px;
    color: $white;
    font-size: $fontSizeSubtitle;
    font-weight: $regular;
    margin-bottom: 72px;
  }

//пока не нашел вариант, как расположить карточки согласно макету

  &__content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(136, 1fr);
    gap: 0 32px;
  }

  &__item {
    grid-column: span 4;
    grid-row: span 68;

    &_1, &_3 {
      grid-row: span 60;
    }

    &_4, &_6 {
      grid-row-start: 66;
      grid-row-end: -1;
    }

    &_5 {
      grid-row-start: 71;
      grid-row-end: -1;
    }

    &_6, &_3 {
      grid-column-start: 9;
      grid-column-end: -1;
    }
  }
}
