$green: #BCEC30;
$black: #202027;
$white: white;
$fontSizeH1: 64px;
$fontSizeCardTitle: 32px;
$fontSizeCardGames: 48px;
$fontSizeItem: 30px;
$fontSizeSubtitle: 24px;
$regular: 300;
$bold: 700;
$semiBold: 500;
