@media (max-width: 1440px) {
  .header {
    background: url('../../img/mobileBack.png') no-repeat;
    background-size: cover;
  }
}

@media (max-width: 786px) {
  .header {
    height: 700px;

    &__info {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 147px 0 0;
    }

    &__title {
      text-align: center;
      font-size: $fontSizeMobTitle;
      max-width: 262px;
      margin: 0 auto 24px;
    }

    &__subtitle {
      max-width: 296px;
      font-size: $fontSizeSubtitleMob;
      text-align: center;
    }

    &__items {
      padding: 16px;
      width: 1745px;
    }

    &__item {
      font-size: $fontSizeSubtitleMob;
    }

    &__img {
      margin: 0 27px;
      width: 19px;
      height: 19px;
    }
  }
}
